<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>rochefort</string>
	<key>CFBundleDisplayName</key>
	<string>GChecker</string>
	<key>CFBundleIdentifier</key>
	<string>com.rochefort8.safari.gchecker</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>gchecker-button</string>
				<key>Image</key>
				<string>images/toolbar.png</string>
				<key>Label</key>
				<string>GChecker</string>
				<key>Palette Label</key>
				<string>GChecker</string>
				<key>Tool Tip</key>
				<string>GChecker</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Display unread Google Reader directly in Safari's toolbar. The main icon is not deceided.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.rochefort8.com/gchecker/</string>
</dict>
</plist>
