<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>900</real>
		<key>Key</key>
		<string>update</string>
		<key>Title</key>
		<string>Update interval</string>
		<key>Titles</key>
		<array>
			<string>1 minute</string>
			<string>5 minutes</string>
			<string>15 minutes</string>
			<string>30 minutes</string>
			<string>60 minutes</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>60</real>
			<real>300</real>
			<real>900</real>
			<real>1800</real>
			<real>3600</real>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>use_ssl</string>
		<key>Title</key>
		<string>Use SSL (recommended)</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
